.experience-container {
    margin-bottom: 10rem;
    padding-top: 7rem;
    margin-right: 2rem;
    margin-left: 2rem;
    
}
.experience-container h5 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
@media (max-width:768px){
    .experience-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}
